*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/google-services.json
.idea/
# Firebase
app/google-services.json
# Android Studio
# Keys
*.jks
*.keystore
*.p12
# Secrets
*.env
*.pem
*.key
secrets/